COMPOSE_PROJECT_NAME=starter
DOCKER_BUILDKIT=1
TZ=America/Sao_Paulo

NAMESPACE=starter
ENVIRONMENT=dev
VERSION=

FILE_PATH=/servers/docker/starter/files/

KEYCLOAK_HOST=https://keycloak.dummy.com
KEYCLOAK_REALM=starter
KEYCLOAK_CLIENT_ID_USERS=webapp
KEYCLOAK_REDIRECT_URI=http://localhost:5137

GESTAO_WEBAPP_URL=http://localhost:5137

CADASTROS_HOST=http://starter-api-cadastros:8080
CADASTROS_CORS_ALLOWED_ORIGINS='http://localhost:5137'
CADASTROS_DB_USERNAME=
CADASTROS_DB_PASSWORD=
CADASTROS_DB_HOST=
CADASTROS_DB_NAME=
CADASTROS_DB_MG_USERNAME=
CADASTROS_DB_MG_PASSWORD=
CADASTROS_KEYCLOAK_CLIENT_ID=starter-api-cadastros
CADASTROS_KEYCLOAK_CLIENT_SECRET=
CADASTROS_OTEL_SERVICE_NAME=starter-api-cadastros

SPRING_MAIL_HOST=
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_PORT=
SPRING_MAIL_PROTOCOL=
SPRING_MAIL_PROPERTIES_MAIL_DEBUG=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_HOST=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_PORT=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_FROM=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_SSL_TRUST=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_SOCKETFACTORY_PORT=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_SOCKETFACTORY_FALLBACK=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_SOCKETFACTORY_CLASS=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_PROTOCOL=
SPRING_MAIL_PROPERTIES_MAIL_TRANSPORT_PROTOCOL=

OTEL_JAVAAGENT_ENABLED=false
OTEL_TRACES_SAMPLER="parentbased_traceidratio"
OTEL_EXPORTER_OTLP_ENDPOINT="http://otel:4318"
OTEL_EXPORTER_OTLP_PROTOCOL="http/protobuf"
OTEL_TRACES_SAMPLER_ARG="0.1"
OTEL_TRACES_EXPORTER="otlp"
OTEL_METRICS_EXPORTER="otlp"
OTEL_LOGS_EXPORTER="otlp"

GRAFANA_CLOUD_OTLP_ENDPOINT=
GRAFANA_CLOUD_INSTANCE_ID=
GRAFANA_CLOUD_API_KEY=
